<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">Transações</h1>
    <button class="btn-primary" (click)="openNewTransactionForm()">
      + Nova Transação
    </button>
  </header>

  <div class="filter-bar">
    <div class="filter-group">
      <select class="filter-input" [(ngModel)]="filterType" (change)="applyFilters()">
        <option value="">Todos os Tipos</option>
        <option value="INCOME">Receitas</option>
        <option value="EXPENSE">Despesas</option>
      </select>
    </div>

    <div class="filter-group">
      <input class="filter-input" type="month" [(ngModel)]="filterMonthYear" (change)="applyFilters()">
    </div>

    <button class="btn-clear" (click)="clearFilters()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
      Limpar Filtros
    </button>
  </div>

  <main class="page-content">
    <app-transactions-table 
      [pageData]="transactions()"
      (onPageChange)="changePage($event)"
      (onSort)="changeSort($event)"
      (onEdit)="openEditTransactionForm($event)"
      (onDelete)="openDeleteConfirm($event)">
    </app-transactions-table>
  </main>

  @if (isModalOpen()) {
    <app-transaction-form
      [transactionToEdit]="transactionToEdit()"
      (closeModal)="closeNewTransactionForm()"
      (saveTransaction)="onSaveTransaction($event)">
    </app-transaction-form>
  }

  @if (transactionToDelete()) {
    <div class="modal-overlay" (click)="closeDeleteConfirm()">
      <div class="modal-content confirm-modal" (click)="$event.stopPropagation()">
        
        <div class="warning-icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
            <line x1="12" y1="9" x2="12" y2="13"></line>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
        </div>

        <h2 class="confirm-title">Excluir Transação</h2>
        <p class="confirm-text">
          Tem certeza que deseja excluir a transação de <strong>{{ transactionToDelete()?.description }}</strong> no valor de <strong>{{ transactionToDelete()?.amount | currency:'BRL':'symbol' }}</strong>? Esta ação não pode ser desfeita.
        </p>

        <div class="confirm-actions">
          <button type="button" class="btn-secondary flex-btn" (click)="closeDeleteConfirm()">Cancelar</button>
          <button type="button" class="btn-primary btn-danger flex-btn" (click)="confirmDelete()">Sim, Excluir</button>
        </div>
      </div>
    </div>
  }
</div>