<app-form [formGroup]="loginForm" submitText="Entrar" (submitEvent)="onSubmit()">
  
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail" />
    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <span class="error-text">E-mail inválido ou obrigatório.</span>
    }
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input type="password" id="password" formControlName="password" placeholder="Digite sua senha" />
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <span class="error-text">A senha é obrigatória.</span>
    }
  </div>

  <div class="login_text">
    <button type="button" class="login_btn" (click)="goToRegister.emit()">
      Não tem uma conta? Registre-se
    </button>
  </div>
  
</app-form>